#container{
    display:grid;
    grid-template-columns: repeat(4,4rem);
    grid-template-rows: repeat(4,4rem);

}
.box{
    height: 3rem;
    width: 4rem;
    margin: 2rem;
    border: 5px;
    border-radius: 6px blue;
    background-color: green;
}
